<h3 class="auth__form__header">Register</h3>
<form
  class="auth__form"
  {{!-- action="http://localhost:42069/auth/register" --}}
  {{!-- method="POST" --}}
>
  <input
    class="input__member"
    type="number"
    placeholder="Register No"
    name="register_no"
    value={{this.register_no}}
    {{on 'input' this.handle_input_register}}
  />

  <button
    class="input__member btn"
    type="button"
    {{on 'click' this.handle_submit}}
  >
    Register
  </button>

  <p class="auth__note">Already Registered? <LinkTo class="auth__redirect link" @route="login">Login</LinkTo></p>
  {{yield}}
</form>
{{yield}}